[
    {"username": "Matandes.9583", "category": "Scam"},
    {"username": "Torrente.2165", "category": "Scam"},
    {"username": "Madisunflower.2103", "category": "Scam"},
    {"username": "Frostbite.3150", "category": "Scam"},
    {"username": "magora.2758", "category": "Scam"}
]
